@using WebApplication3.Data;
@using WebApplication3.Models;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Adminlte";
}

@{
    List<ChartDataModel> data = new();
    GadgetDAO datatable = new();
    string roomtemp1;
    string combinedstring = "";

    data = datatable.Fatchall();
    foreach (var datta in data)
    {
        roomtemp1 = datta.roomtemp1.ToString();
        combinedstring = string.Join(combinedstring, roomtemp1);
    }


}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb"></ol>
        <span>test data =@combinedstring </span>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <div id="gauge" class="100x60px"></div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="ion ion-ios-speedometer-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">Location 2</span>
                        <span class="info-box-text">Temperature = 10</span>
                        <span class="info-box-text">Humidity = 100</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-thermometer"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">Machine</span>
                        <span class="info-box-text">Temperature = 10</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-speedometer-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">Location 4</span>
                        <span class="info-box-text">Temperature = 10</span>
                        <span class="info-box-text">Humidity = 100</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        @*<div class="demo-container">
                <div id="placeholder" class="demo-placeholder" style="float:left; width:375px;"></div>
                <p id="choices" style="float:right; width:100px;"></p>
            </div>*@
        <!-- /.row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-6">
                <!-- /.box -->
                <div class="box box-solid bg-light-blue-gradient">
                    <div class="box-header">
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                                    data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                        <i class="fa fa-map-marker"></i>
                        <h3 class="box-title">
                            Sensor Location
                        </h3>
                    </div>
                    <div class="box-body">
                        <div id="world-mapp" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </section>

        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles{
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="~/adminlte/components/Flot/examples/examples.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/adminlte/components/jvectormap/jquery-jvectormap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/adminlte/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
}


@section Scripts{

    <script src="~/adminlte/components/Justgage/raphael-2.1.4.min.js"></script>

    <script src="~/adminlte/components/Justgage/justgage.js"></script>

    <script src="~/adminlte/components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/adminlte/components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ChartJS -->
    <script src="~/adminlte/components/chart.js/Chart.js"></script>
    <!-- FLOT CHARTS -->
    <script src="~/adminlte/components/Flot/jquery.flot.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="~/adminlte/components/Flot/jquery.flot.resize.js"></script>
    <!-- FastClick -->
    <script src="~/adminlte/components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <!-- Page script -->
    <script src="~/adminlte/components/Flot/FlotLegend.js"></script>

    <script>
        var temp = @Html.Raw(Json.Serialize(combinedstring));
        var g = new JustGage({
            id: "gauge",
            value: temp ,
            min: 0,
            max: 100,
            title: "Room AVG Temp"
        });
    </script>

}