@using WebApplication3.Data;
@*@model WebApplication3.Models.Config;*@
@using Microsoft.AspNetCore.Http;
@model IEnumerable<WebApplication3.Models.Config>
@{ ViewData["Title"] = "Dashboard";
    Layout = "_Adminlte"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="box box-primary gridtwobytwo">
                    <h2 class="gaugepos"> Room </h2>
                    <div class="loc1" id="roomtempgauge"></div>
                    <div class="loc3" id="roomhumidgauge"></div>
                    
                    <div class="bi bi-droplet-half infoatribute2" style="font-size:35px; top:77px; left: 36px;"></div>
                    <div class="bi bi-percent infoatribute2" style="font-size: 20px; top: 44px; left: 219px;"></div>
                    
                    @foreach (var item in Model)
                    {
                        <div class="bi bi-thermometer-half infoatribute1" style="font-size:35px; top:77px; left: 36px;"></div>
                        <div class="bi bi-caret-up-fill infoatribute1" style="font-size: 20px; top: 30px; left: 40px;"><small>: @Html.DisplayFor(modelItem => item.hitemproom)</small></div>
                        <div class="bi bi-caret-down-fill infoatribute1" style=" font-size: 20px; top: 50px; left: 40px;"><small>: @Html.DisplayFor(modelItem => item.lowtemproom)</small></div>
                        <div class="infoatribute1" style="font-size: 20px; top: 45px; left: 218px;">°C</div>
                    }

                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="box box-primary gridtwobytwo">
                    <h2 class="gaugepos"> Machine </h2>
                    <div class="loc1" id="mchinetempgauge"></div>
                    <div class="loc3" id="mchinehumidgauge"></div>
                    
                    <div class="bi bi-droplet-half infoatribute2" style="font-size:35px; top:77px; left: 36px;"></div>
                    <div class="bi bi-percent infoatribute2" style="font-size: 20px; top: 44px; left: 219px;"></div>
                    
                    @foreach (var item in Model)
                    {
                        <div class="bi bi-thermometer-half infoatribute1" style="font-size:35px; top:77px; left: 36px;"></div>
                        <div class="bi bi-caret-up-fill infoatribute1" style="font-size: 20px; top: 30px; left: 40px;"><small>: @Html.DisplayFor(modelItem => item.hitempmachine)</small></div>
                        <div class="bi bi-caret-down-fill infoatribute1" style=" font-size: 20px; top: 50px; left: 40px;"><small>: @Html.DisplayFor(modelItem => item.lowtempmachine)</small></div>
                        <div class="infoatribute1" style="font-size: 20px; top: 45px; left: 215px;">°C</div>
                    }
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-9">
                <!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-line-chart"></i>
                        <h3 class="box-title">
                            Sensor Graph
                        </h3>
                        <div class="box-tools pull-right">
                            <p>  </p>
                            <p>@*Update Interval: <input id="updateInterval" type="text" value="" style="text-align: right; width:3em" /> ms*@</p>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="placeholder" style="height: 350px; width: 100%;"></div>
                    </div>
                </div>
                <div class="cbgraph positioned">
                    <p id="choices" style="width: 100%;"></p>
                </div>

            </section>
            <section class="col-lg-3">
                <!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-map-marker"></i>
                        <h3 class="box-title">
                            Sensor Location
                        </h3>
                    </div>
                    <div class="box-body bodygrid">
                        <img class="map" src="~/images/map.png" style="height: 350px;">
                        <div class="box box-solid box-default loc2 pos1" style="height:80px; width:140px">
                            <div class="box-header with-border">
                                <i class="fa fa-map-marker"></i>
                                <h3 class="box-title" style="font-size:medium;">Location 1</h3>
                            </div>
                            <div class="box-body" style="font-size:medium;">
                                <i class="bi bi-thermometer-half" id="loc1temp"></i>
                                <i class="bi bi-droplet-half" id="loc1humid"></i>
                            </div>
                        </div>
                        <div class="box box-solid box-default loc2 pos2" style="height:80px; width:140px">
                            <div class="box-header with-border">
                                <i class="fa fa-map-marker"></i>
                                <h3 class="box-title" style="font-size:medium;">Location 2</h3>
                            </div>
                            <div class="box-body" style="font-size:medium;">
                                <i class="bi bi-thermometer" id="loc2temp"></i>
                                <i class="bi bi-droplet-half" id="loc2humid"></i>
                            </div>
                        </div>
                        <div class="box box-solid box-default loc2 pos3" style="height:80px; width:140px">
                            <div class="box-header with-border">
                                <i class="fa fa-map-marker"></i>
                                <h3 class="box-title" style="font-size:medium;">Location 3</h3>
                            </div>
                            <div class="box-body" style="font-size:medium;">
                                <i class="bi bi-thermometer" id="loc3temp"></i>
                                <i class="bi bi-droplet-half" id="loc3humid"></i>
                            </div>
                        </div>
                        <div class="box box-solid box-default loc4 pos4" style="height:80px; width:140px">
                            <div class="box-header with-border">
                                <i class="fa fa-map-marker"></i>
                                <h3 class="box-title" style="font-size:medium;">Location 4</h3>
                            </div>
                            <div class="box-body" style="font-size: medium;">
                                <i class="bi bi-thermometer" id="loc4temp"></i>
                                <i class="bi bi-droplet-half" id="loc4humid"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles{

    <style>

        .positioned {
            position: absolute;
        }

        .cbgraph {
            top: 36px;
            left: 50px;
            font-size: small;
        }

        .gaugepos {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            margin: 0 auto;
            font-family: 'Berlin Sans FB';
            text-align: center;
            color: grey;
            position: relative;
            left: 0px;
            top: 10px;
        }

        .infoatribute2 {
            grid-column: 2;
            grid-row: 1 / 3;
            color: grey;
            position: relative;
        }

        .infoatribute1 {
            grid-column: 1;
            grid-row: 1 / 3;
            color: grey;
            position: relative;
        }

        .loc1 {
            grid-column: 1;
            grid-row: 1;
            margin: 0 auto;
        }

        .loc2 {
            grid-column: 1 / 4;
            grid-row: 1 / 3;
        }

        .loc3 {
            grid-column: 2;
            grid-row: 1;
            margin: 0 auto;
        }

        .loc4 {
            grid-column: 1 / 4;
            grid-row: 2;
        }

        .map {
            grid-column: 1 / 4;
            grid-row: 1 / 3;
            margin: 0 auto;
        }

        .loc1, .loc2, .loc3, .loc4 {
            z-index: 2;
        }

        .bodygrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0px;
            grid-auto-rows: minmax(auto, auto);
        }

        .gridtwobytwo {
            display: grid;
            grid-template-columns: auto auto;
            grid-row: auto;
            grid-column-gap: 10px;
        }

        .pos1 {
            top: 0px;
            left: 0px;
        }

        .pos2 {
            top: 85px;
            left: 60px;
        }

        .pos3 {
            top: 180px;
            left: 60px;
        }

        .pos4 {
            top: 15px;
            left: 0px;
        }

        .pos1, .pos2, .pos3, .pos4 {
            margin: 0 auto;
            opacity: 0.75;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="~/css/dseg.css">

    <link href="~/adminlte/components/Flot/examples/examples.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/googlefont.css">

    <link rel="stylesheet" href="~/css/font/bootstrap-icons.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/adminlte/dist/css/skins/_all-skins.min.css">
}


@section Scripts{

    <script src="~/adminlte/components/Justgage/raphael-2.1.4.min.js"></script>

    <script src="~/adminlte/components/Justgage/justgage.js"></script>

    <script src="~/adminlte/components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/adminlte/components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ChartJS -->
    <script src="~/adminlte/components/chart.js/Chart.js"></script>
    <!-- FLOT CHARTS -->
    <script src="~/adminlte/components/Flot/jquery.flot.js"></script>

    <script src="~/adminlte/components/Flot/jquery.flot.time.js"></script>

    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="~/adminlte/components/Flot/jquery.flot.resize.js"></script>
    <!-- FastClick -->
    <script src="~/adminlte/components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <!-- Page script -->

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/Dashboard.js"></script>

   
}